<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <h2>Não bote seus dados reais!</h2>
        <label for="product_name">Nome completo</label>
        <input type="text" id="product_name" name="nome" required><br><br>

        <label for="product_name">Numero do cartão</label>
        <input type="text" id="product_name" name="product_name" required><br><br>
        
        <label for="product_price">Validade</label>
        <input type="text" id="product_price" name="product_price" required><br><br>

        <label for="product_price">Codigo de segurança</label>
        <input type="text" id="product_inventory" name="product_inventory" required><br><br>

        <label for="seller">Endereço</label>
        <input id="seller" name="endereço"><br><br>
    
        <input type="submit" value="Submit">
    </form>
</body>
</html>