<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    {% if username %}

    <header class="header">
        <div class="header2">
            <h3>myEcommerce</h3>
            {% if user.isSeller %}
                <a href="/home/addproducts"><button class="login2">Adicionar produto</button></a>
                <a href="/pedidos"><button class="ped">Pedidos</button></a>
            {% else %}
                <a href="/pedidos"><button class="ped2">Meus pedidos</button></a>
            {% endif %}
        </div>
        <div class="demo">
            <h2>Meu site exemplo de e-commerce feito em flask.</h2>
            <p>Por favor, note que os itens exibidos neste site são apenas para demonstração e não representam produtos reais disponíveis para compra. Este site é utilizado apenas para fins de demonstração de funcionalidades de um e-commerce.</p>
        </div>
    </header>
    
    <div id="products">
        <h2 class="h2">Todos os produtos: </h2>
        <ul>
            {% for product in products %}
            <a href="{{ url_for('view_product', productID=product.id) }}"><div class="product">
                <img class="imgP" src="{{ product.image_path }}" alt="Product Image">
                <li>{{ product.productName }} - R${{ product.productPrice }}</li>
            </div></a>
            {% endfor %}
        </ul>
    </div>



    {% else %}

        <header class="header">
            <div class="header2">
                <h3>myEcommerce</h3>
                <a href="/login"><button class="login">Login</button></a>
            </div>
            <div class="demo">
                <h2>Meu site exemplo de e-commerce feito em flask.</h2>
                <p>Por favor, note que os itens exibidos neste site são apenas para demonstração e não representam produtos reais disponíveis para compra. Este site é utilizado apenas para fins de demonstração de funcionalidades de um e-commerce.</p>
            </div>
        </header>
        
        <div id="products">
            <h2 class="h2">Todos os produtos: </h2>
            <ul>
                {% for product in products %}
                <a href="/login"><div class="product">
                    <img class="imgP" src="{{ product.image_path }}" alt="Product Image">
                    <li>{{ product.productName }} - R${{ product.productPrice }}</li>
                </div></a>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</body>
</html>